.navbar-brand{  /*margen del logo version desktop*/
    margin-left: 32px;
    cursor: pointer;
  }
  .nav-link{    /*color links de nav */
    background-image: linear-gradient(#d47f7f,#d47f7f);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: all .5s !important;
    cursor: pointer;  
  }
  .nav-link:hover{  /*efecto link de nav cursor*/
    font-weight: bold !important;
    background-size: 60% 3px;
  }
  /* link activo seccion del nav  */
  .active{
    font-weight: bold !important;
    background-size: 60% 3px;
  }
   /*ocultar redes sociales version desktop*/
  .social-link{ 
    align-items: center;
    list-style: none;
  }
  .social-link li{
    margin-left:20px;
    display: none;
  }
  /* ocultar linea menu en desktop */
  .menu-line{
    display: none;
  }
  /* ocultar iconos de items del nav en desktop */
  .nav-icons{
    display: none;
  }
 
  /* resoluciones medianas y pequeñas */
  
  @media screen  and (max-width:991px){
    /*ocultar efectos del nav en dispositovs pequeños*/
    .nav-link{
      background-size:0 !important;
    }
    .social-link{
      margin-left:-50px;
      margin-top: 40px;
    }
    /* link activo versiones mobiles */
    .active{
      background-size:0;
    }
  
    .social-link li{  /*mostrar redes sociales menu dispositivos pequeños*/
      display: inline-flex;
      flex-direction: row;
      vertical-align: middle;
    }
    .menu-line{   /*mostrar linea menu*/
      display: block;
      margin-top: 20px;
      border: 2px solid #d47f7f;
    }
    .navbar-toggler{  /*boton menu */
      position:absolute;
      box-shadow: none !important;
      border:transparent;
    }
    .navbar-brand{
      margin-left:90px;
    }
    .nav-icons{  /*mostrar redes sociales dispositivos pequeños*/
      display: inline-block;
      vertical-align: 10%;
      padding: 10px;
    }
    /* botón cerrar menu */
    .close-menu{
      position:absolute;
      right:0;
      margin-right: 20px;
    }
    .navbar-logo{  /*tamaño de logo en tablet*/
      width:200px;
    }
  }

  /* resoluciones pequeñas */
  @media screen and (max-width:520px){
    .navbar-logo{  /*tamaño de logo en mobil*/
      width: 141px;  
    }
    .logo-offcanvas{  /*tamaño de logo en menu mobil*/
      width:141px;
    }
    .menu-icon-nav{  /*tamaño de icono nav en mobiles pequeños*/
      width:25px;
    }
    .navbar-toggler{
      width:50px;
    }
  }
  