*{
  color: rgba(212,127,127,1);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.splide__arrow.splide__arrow--next {
  background-color: pink !important;
  
}
.splide__arrow.splide__arrow--next path {
  color: white !important;
}
.splide__arrow.splide__arrow--prev {
  background-color: pink !important;
}

.splide__pagination__page.is-active {
  background-color: pink;
}
